.DS_Store
*.aux
*.bbl
*.blg
*.log
*.log
*.gz
*.toc
*.tex
*.zip
figure


brazil/

oral/data/mouth_otu.txt

oral/data/taxon_names.txt

CJM_Supplement/

background_reading/cjm-2015-0821_proof.pdf

presentations/*.png
presentations/effect.pdf
presentations/biplot.pdf
presentations/biplot.png
presentations/effect.pdf
presentations/phi.pdf
presentations/tc_biplot.pdf

presentations/R_log.R

